@import "tailwindcss";
@font-face {
  font-family: "CustomFont";
  src: url("/fonts/YourFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'Poppins', sans-serif;
}